<html>
<head>
    <title>From Start To Finish! EXAMPLE</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/example.css" rel="stylesheet">
</head>

<body>
<h3>Examples</h3>

<div class="container">
    <section class="row">
        <div class="col-md-4 box">
            <p>You can use the mark tag to<mark>highlight</mark>text.</p>
            <p><del>This line of text is meant to be treated as deleted text.</del></p>
            <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
            <ins>This line of text is meant to be treated as an addition to the document.</ins>
        </div>
        <div class="col-md-8 box">
            <p><u>This line of text will render as underlined</u></p>
            <p><small>This line of text is meant to be treated as fine print.</small></p>
            <p><strong>rendered as bold text</strong></p>
            <p><em>rendered as italicized text</em></p>
        </div>
    </section>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>