
<section class="container items">
    <div class="panel panel-default border-dressing">
        <!-- Default panel contents -->
        <% filters = (@search)?" filters: #{@search}":nil%>
        <div class="panel-heading"><h4>Recipes <%= filters%></h4></div>
        <div class="panel-body">

            <div class="pseudo-table table-striped">
                <div class="pseudo-table-row">
                    <div class="pseudo-table-cell">Title</div>
                    <div class="pseudo-table-cell">Cooking Time</div>
                </div>
                <% @recipes.each do |recipe| %>
                    <a class="recipes-link pseudo-table-row" href="recipe/<%= recipe.id %>">
                        <div class="pseudo-table-cell"><%= recipe.title %></div>
                        <div class="pseudo-table-cell"><%= recipe.cooking_time %></div>
                    </a>
                <% end %>
            </div>
        </div>
    </div>
</section>
