@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700italic,700);
body {
    background: url("../images/veggies-2.jpeg") no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    color: #27987C;
}

.jumbotron{
    text-align: center;
    padding: 2px;
    margin-bottom: 0;

}

.recipe-table{
    color: #ffffff;
}

.left-box{
    border: solid black;

}

h1 {
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.container-extras{
    background: url("../images/veggies-bw.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul.nav li a:hover {
    background-color: #003D2E !important;
}

ul.nav li a {
    color: #00C6A1 !important;
}

.recipes-link{
    color: #00C6A1;
}
section.recipe-table table.table tbody tr{
    color: #ffffff;
}
section.recipe-table table.table tbody tr a{
    color: #ffffff;
}

.recipes-title{
    color: #ffffff;
}

.ingredients{
    color: #ffffff;
}

.directions{
    color: #ffffff;

}
section.recipe-table form button{
    color: #00C6A1;
}

section.recipe-table form button{
    color: #00C6A1;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
/*
nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    float: left;
}
*/

.jumbo-opacity{
    opacity: 0.5;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    
}

.menu-container {
    text-align: center;
}

div.menu-top {

}

div.menu-top ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

div.menu-top li {
    float: left;
}